{% extends "list/base.html" %}
{% block content %}

<main class="site-main" style="background: linear-gradient(to top,rgba(56, 56, 56, 0.137) 23%, rgba(82, 81, 81, 0.158) 190%);">

    <!--Banner Area-->
    <section class="site-banner" style="overflow: hidden; position: relative; color: white;">
        <div class="container">
          <div style="margin-top: 20px;">
            <h3 style="float: left; font-weight: bold; font-size: 2rem;">Liste:</h3>
          </div>
          <div style="clear:both"></div> 
            <hr style="background-color: rgb(130, 170, 70); height: 3px;">
            {% for m in films %}

                <div class="c">
                    <img src="{{m.poster.url}}" alt="Avatar" class="image">
                    <div class="overlay">
                    <a data-modal-target="#cont{{m.id}}" class="icon{{m.id}}" title="User Profile" style="display: block;">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                    </div>
                </div>
                
                <div class="cont{{m.id}}" id="cont{{m.id}}">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="{{m.poster.url}}" alt="Avatar" class="image">
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="title{{m.id}}" style="text-transform: uppercase; color:white; font-weight:bold; text-align:left; font-size:30px; margin:30px 0 0 0; padding:0 0 0 40px; letter-spacing:1px;">{{m.title}}</div>
                              </div>
                              <div class="col-lg-6">
                                <div style="text-transform: uppercase; color:white; font-weight:bold; font-size: large; text-align:right; font-size:40px; margin:30px 0 0 0; letter-spacing:1px;">{{rate}}/10</div>
                              </div>
                            </div>
                            <ul class="liste">
                              <hr style="background-color: greenyellow;">
                              <li class="element">{{m.date_released|date:"Y"}}</li> 
                              <li class="element">{{m.time}}</li>
                              <li class="element">{{m.genre}}</li>
                              {% if user.is_authenticated %}
                              <a href="/delete/{{m.id}}/" class="btn btn-danger btn-sm" >Suprimer</a>
                              {% endif %}
                              <hr style="background-color: greenyellow;">
                            </ul>              
                            <p style="height: 240px; scrollbar-width: thin; word-wrap: break-word; color:white; padding:20px 40px 40px; letter-spacing:1px; margin:10px 0 10px 0; line-height:20px; overflow-y: scroll;">{{m.synopsis}}</p><br>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div id="ov"></div>
        </div>
    </section>
    
    <div class="container pb-2">
      <hr style="background-color: rgb(130, 170, 70); height: 3px;">
    {% if films.has_other_pages %}
    <ul class="pagination text-success justify-content-center">

      {% if films.has_previous %}
        <li class=""><a href="?page={{ films.previous_page_number }}" class="page-link">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in films.paginator.page_range %}
        {% if films.number == i %}
          <li class="active"><span class="page-link" style="background-color: greenyellow; color: black; font-weight: bold;"> {{  i  }} </span></li>
        {% else %}
          <li class=""><a href="?page={{ i }}" class="page-link text-white"> {{  i  }} </a></li>
        {% endif %}
      {% endfor %}
      {% if films.has_next %}
        <li><a href="?page={{ films.next_page_number }}" class="page-link">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</div>
</main>
  {% for movie in films %}
    <script>
    var openModalButtons = document.querySelectorAll(".icon{{movie.id}}");
    var overlay = document.getElementById('ov');

    var cont = document.querySelector(".cont{{movie.id}}");
    var icon = document.querySelector(".icon{{movie.id}}");
    var title = document.querySelector(".title{{movie.id}}");

    cont.style.background = "black";
    cont.style.color="white";
    cont.style.width= "75%";
    cont.style.transform = "translate(-50%, -50%) scale(0)";
    cont.style.transition= "200ms ease-in-out";
    cont.style.position = "fixed";
    cont.style.top= "50%";
    cont.style.left= "50%";
    cont.style.padding= "20px";
    cont.style.zIndex= "10";
    cont.style.overflow= "auto";
    cont.style.maxWidth= "80%";
    cont.style.borderRadius= "30px";
    cont.style.display = "none";
    cont.style.boxShadow = "0 0 5px 5px greenyellow"
    icon.style.color = "white";
    icon.style.fontSize = "100px";
    icon.style.position = "absolute";
    icon.style.top = "50%";
    icon.style.left = "50%";
    icon.style.transform = "translate(-50%, -50%)";
    icon.style.textAlign = "center";

        openModalButtons.forEach(button => {
        button.addEventListener('click', () => {
          const modal = document.querySelector(".cont{{movie.id}}");
          openModal(modal);
          document.querySelectorAll(".cont{{movie.id}}.active")[0].style.display = "block";
          document.querySelectorAll(".cont{{movie.id}}.active")[0].style.transform = "translate(-50%, -50%) scale(1)";
        })
      })

      overlay.addEventListener('click', () => {
        const modals = document.querySelectorAll(".cont{{movie.id}}.active");
        modals.forEach(modal => {
          closeModal(modal);
        })
      })

      document.addEventListener("keydown", function(event) {
        if (event.keyCode == 27) {
          const modals = document.querySelectorAll(".cont{{movie.id}}.active");
          modals.forEach(modal => {
          closeModal(modal);
        })
        }
      });

      function openModal(modal) {
        console.log(modal);
        if (modal == null) return
          modal.classList.add('active');
          overlay.classList.add('active');
      }

      function closeModal(modal) {
        if (modal == null) return
          modal.classList.remove('active');
          overlay.classList.remove('active');
          modal.style.display = "";
          modal.style.transform = "translate(-50%, -50%) scale(0)";
      }
    </script>
  {%endfor%}
{% endblock content %}